
body {
    background-color: gray;
}

.adder1button {
    background-color: red;
    color: black;
    padding: 15px 32px;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    border: 8px solid black;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s, border-color 0.3s;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
}

.adder1button:hover {
    transform: translateX(-50%) translateY(-50%) scale(1.1);
}

.adder1button:active {
    transform: translateX(-50%) translateY(-50%) scale(0.95);
}

.upgrade1 {
    height: 100px;
    width: 350px;
    background-color: blue;
    color: black;
    padding: 15px 32px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    border: 8px solid black;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s, border-color 0.3s;
    position: absolute;
    top: 90vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
}

.upgrade3 {
    height: 100px;
    width: 350px;
    background-color: #2F6CFE;
    color: black;
    padding: 15px 32px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    border: 8px solid black;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s, border-color 0.3s;
    position: absolute;
    top: 70vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
}

.upgrade3:hover {
    transform: translateX(-50%) translateY(-50%) scale(1.1);
}

.upgrade3:active {
    transform: translateX(-50%) translateY(-50%) scale(0.95);
}

.upgrade2 {
    height: 100px;
    width: 350px;
    background-color: #5FFF5F;
    color: black;
    padding: 15px 32px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    border: 8px solid black;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s, border-color 0.3s;
    position: absolute;
    top: 80vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
}

.upgrade2:hover {
    transform: translateX(-50%) translateY(-50%) scale(1.1);
}

.upgrade2:active {
    transform: translateX(-50%) translateY(-50%) scale(0.95);
}

.upgrade1:hover {
    transform: translateX(-50%) translateY(-50%) scale(1.1);
}

.upgrade1:active {
    transform: translateX(-50%) translateY(-50%) scale(0.95);
}


#counter-label {
    font-size: 80px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 20vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
}

.buygenerator1 {
    height: 150px;
    width: 150px;
    background-color: #1E5FFF;
    color: black;
    padding: 15px 32px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    border: 8px solid black;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s, border-color 0.3s;
    position: absolute;
    top: 100px;
    left: 100px;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buygenerator1:hover {
    transform: translateX(-50%) translateY(-50%) scale(1.1);
}

.buygenerator1:active {
    transform: translateX(-50%) translateY(-50%) scale(0.95);
}
